@charset "ISO-8859-1";

table{
	border:2px solid black;
	width:500px;
	height:100px;
}

th{background-color:black; color:white}
th{border:2px solid black}
td{border:2px solid black; background-color:lightyellow}
{color:red;}